<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <!-- Enlace para la lista de buses -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/listar-buses']" routerLinkActive="active">Lista de Buses</a>
    </li>
    
    <!-- Enlace para crear un bus -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/crear-bus']" routerLinkActive="active">Añadir Bus</a>
    </li>

    <!-- Enlace para la lista de destinos -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/listar-destinos']" routerLinkActive="active">Lista de Destinos</a>
    </li>

    <!-- Enlace para crear un destino -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/crear-destino']" routerLinkActive="active">Añadir Destino</a>
    </li>
  </ul>
</nav>

<h1 class="text-center">{{ title }}</h1>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
