<div class="container mt-4">
  <h3>Lista de Viajes</h3>
  <button class="btn btn-primary" (click)="abrirModal()">Registrar Nuevo Viaje</button>

  <table class="table mt-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Fecha de Salida</th>
        <th>Fecha de Llegada</th>
        <th>Precio</th>
        <th>Destino</th>
        <th>Bus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let viaje of viajes; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ viaje.fechaSalida | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ viaje.fechaLlegada | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>S/. {{ viaje.precio }}</td>
        <td>{{ viaje.nombre }}</td>
        <td>{{ viaje.placa }} - {{ viaje.modelo }}</td>
        <td>
          <button class="btn btn-warning me-2" (click)="editarViaje(viaje)">Editar</button>
          <button class="btn btn-danger" (click)="eliminarViaje(viaje.idViaje)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-create-viaje
  [viajeEditar]="viajeSeleccionado"
  (viajeCreado)="cargarViajes()">
</app-create-viaje>