<div class="modal fade" id="nuevoDestinoModal" tabindex="-1" aria-labelledby="nuevoDestinoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="nuevoDestinoModalLabel">
            {{ destinoEditar ? 'Editar Destino' : 'Agregar Nuevo Destino' }}
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formDestino" (ngSubmit)="agregarDestino()">
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input type="text" id="nombre" class="form-control" formControlName="nombre" required />
            </div>
            <div class="mb-3">
              <label for="imagen" class="form-label">Imagen</label>
              <input type="file" id="imagen" class="form-control" (change)="onFileChange($event)" [required]="!destinoEditar" />
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  